@font-face {
  font-family: "headFont";
  src: url("http://hjelfman.com/assets/abrilfatface-regular-webfont.woff2");
}

html {
    font-family: 'PT Sans', sans-serif;
    background-color: #ffecb4;
    color: #5a3d2b;
}

a {
    color: #5a3d2b;
}

code {
    font-family: 'Inconsolata', monospace;
}

a.site-title {
    text-decoration: none;
}

.site-title {
    font-family: headFont, serif;
    color: #75c8ae;
}

a.navigation-item {
    text-decoration: none;
}

.navigation-item {
    color: #5a3d2b;
    border-bottom: 2px solid #f0c808;
    font-family: headFont, serif;
}

.fancy {
  font-family: headFont, serif;
  color: #f4a127;
}

.fancydate {
  font-family: headFont, serif;
  color: #e5771e;
}
